#soon-text {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* height: 100vh; */
}

#early-bird {
  background: linear-gradient(-45deg, #C80067, #5451B6);
  animation: gradient 4s ease infinite;
  background-size: 400% 400%;
  background-position: center;
  color: transparent;
  /* height: 100vh; */
}

/* #gold {
  background: linear-gradient(-45deg, #ffee35, #ffe83a, #ffb82b, #ffa228);
  animation: gradient 3s ease infinite;
  background-size: 400% 400%;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
} */


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}