@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-slow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-slow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.5s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: fade-in-bottom 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation-delay: 0.2s;
}

.animate-fade-in {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  /* animation-delay: 0.2s; */
}

.animate-fade-in-slow {
  -webkit-animation: fade-in 1.0s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.0s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  /* animation-delay: 0.2s; */
}

.animation-delay-1 {
  animation-delay: 0.2s;
}

.animation-delay-2 {
  animation-delay: 0.4s;
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}

.animate-marquee-rev {
  animation: marquee-rev 15s linear infinite;
}

.animate-bounce-in {
  animation: bounce-in-top 1.1s both;
}

.animate-bounce-in::before {
  animation: bounce-in-bottom 1.1s both;
}

.animate-clip-in {
  animation: clip-in 1.1s both;
  animation-delay: 0.5s;
}

.animate-clip-in-side {
  animation: clip-in-side 1.1s both;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee-rev {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(+0%);
  }
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);

    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@-webkit-keyframes bounce-in-bottom {
  0% {
    -webkit-transform: translateY(calc(500px+30%)) scaleY(0.2);
    transform: translateY(calc(500px+30%)) scaleY(0.2);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(calc(0+30%)) scaleY(0.2);
    transform: translateY(30%) scaleY(0.2);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(calc(65px+30%)) scaleY(0.2);
    transform: translateY(calc(65px+30%)) scaleY(0.2);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(calc(0+30%)) scaleY(0.2);
    transform: translateY(30%) scaleY(0.2);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(calc(28px+30%)) scaleY(0.2);
    transform: translateY(calc(28px+30%)) scaleY(0.2);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(calc(0+30%)) scaleY(0.2);
    transform: translateY(30%) scaleY(0.2);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(calc(8px+30%)) scaleY(0.2);
    transform: translateY(calc(8px+30%)) scaleY(0.2);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(calc(0+30%)) scaleY(0.2);
    transform: translateY(30%) scaleY(0.2);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-bottom {
  0% {
    -webkit-transform: translateY(calc(500px+30%)) scaleY(0.2);
    transform: translateY(calc(500px+30%)) scaleY(0.2);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(calc(0+30%)) scaleY(0.2);
    transform: translateY(30%) scaleY(0.2);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(calc(65px+30%)) scaleY(0.2);
    transform: translateY(calc(65px+30%)) scaleY(0.2);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(calc(0+30%)) scaleY(0.2);
    transform: translateY(30%) scaleY(0.2);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(calc(28px+30%)) scaleY(0.2);
    transform: translateY(calc(28px+30%)) scaleY(0.2);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(calc(0+30%)) scaleY(0.2);
    transform: translateY(30%) scaleY(0.2);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(calc(8px+30%)) scaleY(0.2);
    transform: translateY(calc(8px+30%)) scaleY(0.2);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(calc(30%+30%)) scaleY(0.2);
    transform: translateY(30%) scaleY(0.2);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes clip-in {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 1%, 0 1%);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes clip-in {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 1%, 0 1%);
  opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes clip-in-side {
  0% {
    clip-path: polygon(0 0, 1% 0, 1% 100%, 0 100%);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes clip-in-side {
  0% {
    clip-path: polygon(0 0, 1% 0, 1% 100%, 0 100%);
  opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@font-face {
  font-family: "Helonik";
  src: url("/fonts/Helonik-Regular.woff2") format("woff2"),
       url("/fonts/Helonik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}