@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(to right, #e3fefe, #ffffff);

  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(
      to left,
      #171717,
      #303030
    ); /* Example dark gradient */
    --foreground: #e3e3e3;
  }

  body {
    background: var(--background);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Keyframes for the scrolling animation */
@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Scrolling text styles */
.early-bird-text {
  display: inline-block;
  font-size: 2px;
  white-space: nowrap; /* Prevent text wrapping */
  animation: scroll 15s linear infinite;
  font-size: 0.75rem; /* Tailwind text-lg equivalent */
  color: white;
}
